<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<dict>
				<key>ATI</key>
				<false/>
				<key>Firewire</key>
				<false/>
				<key>HDA</key>
				<false/>
				<key>HDMI</key>
				<false/>
				<key>IDE</key>
				<false/>
				<key>IntelGFX</key>
				<false/>
				<key>LAN</key>
				<false/>
				<key>LPC</key>
				<false/>
				<key>NVidia</key>
				<false/>
				<key>SATA</key>
				<false/>
				<key>SmBUS</key>
				<false/>
				<key>USB</key>
				<true/>
				<key>WIFI</key>
				<false/>
			</dict>
			<key>Fixes</key>
			<dict>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixUSB</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI, pair with SSDT-XOSI.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #1 (Thinkpad)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PCI0.VID to IGPU #2 (Thinkpad)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change B0D3 to HDAU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(ESEL,0,S) to ESEZ, pair with SSDT-ESEL.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RVNFTAg=</data>
					<key>Replace</key>
					<data>RVNFWgg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change XHCI to XHC_</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q6A to XQ6A (microphoe mute)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2QQ==</data>
					<key>Replace</key>
					<data>WFE2QQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q15 to XQ15 (brightness down)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNQ==</data>
					<key>Replace</key>
					<data>WFExNQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q14 to XQ14 (brightness up)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNA==</data>
					<key>Replace</key>
					<data>WFExNA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q16 to XQ16 (projector)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNg==</data>
					<key>Replace</key>
					<data>WFExNg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q64 to XQ64 (wireless disable)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2NA==</data>
					<key>Replace</key>
					<data>WFE2NA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q66 to XQ66 (settings)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2Ng==</data>
					<key>Replace</key>
					<data>WFE2Ng==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q67 to XQ67 (search)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2Nw==</data>
					<key>Replace</key>
					<data>WFE2Nw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q68 to XQ68 (app switcher)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2OA==</data>
					<key>Replace</key>
					<data>WFE2OA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _Q69 to XQ69 (Start screen)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2OQ==</data>
					<key>Replace</key>
					<data>WFE2OQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change _WAK to XWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSw==</data>
					<key>Replace</key>
					<data>WFdBSw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Disable direct EC reads/writes by writing 0 to H8DR when _REV is called</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>lVxfUkVWCgJwCgFcSDhEUg==</data>
					<key>Replace</key>
					<data>lVxfUkVWCgJwCgBcSDhEUg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change HWAC to XWAC EC reads</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUNfX0hXQUM=</data>
					<key>Replace</key>
					<data>RUNfX1hXQUM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Store(SB to Store(XB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>cFNC</data>
					<key>Replace</key>
					<data>cFhC</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Multiply(SB to Multiply(XB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>d1NC</data>
					<key>Replace</key>
					<data>d1hC</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change SBDV to XBDV in GBIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>oBVTQkRWeAxADQMAU0JEVmI=</data>
					<key>Replace</key>
					<data>oBVYQkRWeAxADQMAWEJEVmI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Disable XHCI code in _WAK(3)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UlwvBF9TQl9QQ0kwWEhDX1hSU1SgTwmR</data>
					<key>Replace</key>
					<data>UlwvBF9TQl9QQ0kwWEhDX1hSU1SgTwmQ</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change XHC._PRW to QPRW for SSDT-XHCPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1NCX1BDSTBMUENfRUNfX1BVQlMIX1BSVxI=</data>
					<key>Replace</key>
					<data>X1NCX1BDSTBMUENfRUNfX1BVQlMIUVBSVxI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change IGBE._PRW to XPRW for SSDT-LANCPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>AAhfUFJX</data>
					<key>Replace</key>
					<data>AAhYUFJX</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change XHC.SXHC (XWAK equiv. on other laptops?) to XHC.SXXC for SSDT-SXHC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>B1NYSEMA</data>
					<key>Replace</key>
					<data>B1NYWEMA</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EUSB to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RVVTQg==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change USBE to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VVNCRQ==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>dart=0 -gux_defer_usb2 amfi_get_out_of_my_way=1 -igfxnohdmi</string>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>Catalina</string>
		<key>Fast</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Comment</key>
	<string>This file is for Broadwell graphics that are natively supported</string>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>1</integer>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key># DVMT-prealloc</key>
				<string>32MB BIOS, 19MB framebuffer, 9MB cursor bytes (credit RehabMan)</string>
				<key># fake device-id</key>
				<string>some HD5500 need this, such as i3-5005U; enable as required</string>
				<key># note1</key>
				<string>flags 06000000 also used for HDMI</string>
				<key>#device-id</key>
				<data>JhYAAA==</data>
				<key>#framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con1-flags</key>
				<data>ggAAAA==</data>
				<key>#framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con2-flags</key>
				<data>ggAAAA==</data>
				<key>#framebuffer-con2-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con3-flags</key>
				<data>ggAAAA==</data>
				<key>#framebuffer-con3-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-con3-type</key>
				<data>AAgAAA==</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,ig-platform-id</key>
				<data>BgAmFg==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1024x768</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
			</array>
		</dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
			<string>VM</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
		<key>Theme</key>
		<string>ThinkPad</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x59160009</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>AppleRTC</key>
		<false/>
		<key>Comment-ForceKextsToLoad</key>
		<string>This is intended only for installation scenarios and should probably be removed for post-install.</string>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily IONameMatch</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>PHN0cmluZz5wY2kxNDRkLGE4MDQ8L3N0cmluZz4=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>PHN0cmluZz5wY2kxNDRkLGE4MDI8L3N0cmluZz4=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#1</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>ibPoAgAAweAMBQAQAACJgw==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>ibPoAgAAweAJBQAQAACJgw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#2</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>D7aMiIIAAACD+QwPhTIBAA==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>D7aMiIIAAACD+QkPhTIBAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#3</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>AMeDpAAAAAAQAABIi0gISA==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>AMeDpAAAAAACAABIi0gISA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#4</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYnGTYX2dGFBwecMSWP/vg==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>SYnGTYX2dGFBwecJSWP/vg==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#5</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>hv8PAABIwegMD7cPgeH/Dw==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>hv8PAABIwegJD7cPgeH/Dw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#6_7</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>icGB4f8PAABIAdFIgfn/DwAAdzs=</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>icGB4f8BAABIAdFIgfn/AQAAdzs=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#8</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SYHF/w8AAEnB7QxJiwQkSA==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>SYHF/w8AAEnB7QlJiwQkSA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#9_10</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>BgIAAEyNuAAQAABMiflIgeEA8P//SYmGGgEAAEmJjiIBAABBvAAQAABJKfQ=</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>BgIAAEyNuAACAABMiflIgeEA8P//SYmGGgEAAEmJjiIBAABBvAACAABJKfQ=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>AABJiY4iAQAAugAQAABIKQ==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>AABJiY4iAQAAugACAABIKQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>yAAAAEkp17gAEAAATYskJA==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>yAAAAEkp17gAAgAATYskJA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#13</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>4b+AQBUGTYnWugAQAABFMQ==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>4b+AQBUGTYnWugACAABFMQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>iWTY+EmBxAAQAABJgccA8A==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>iWTY+EmBxAACAABJgccA8A==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>Bf8PAABIwegMZvfB/w8PlQ==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>Bf8PAABIwegJZvfB/w8PlQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#16</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>weIIQQ+2wcHgDEQJ0EQJwA==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>weIIQQ+2wcHgCUQJ0EQJwA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#17</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>RYTJD5XAD7bAweAMRAnYRA==</data>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>RYTJD5XAD7bAweAJRAnYRA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>disable panic("Invalid waitq: %p", waitq), 10.14</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SI09BPFyADHASIne</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>uAQAAADppwAAAJCQ</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Conexant CX20751/2 HD Audio</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>D1HxFA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterCfg</key>
		<string>log=0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/30/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
</dict>
</plist>